.page {
  background-color: white;
  width: calc(100vw / 2);
  height: calc(((100vw / 2) / 8.5) * 11);
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  padding: calc(((100vw / 2) / 8.5));
  margin: 50px 0 0 0;
}
