.currentlyPlaying {
  width: 275px;
  height: 70px;
  margin-top: 47px;
  display: flex;
  align-items: center;
}

.currentlyPlaying img {
  height: 50px;
  margin-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.info {
  /* background-color: grey; */
  height: 50px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.playlistTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.currentlyPlaying p {
  margin: 0;
  font-family: "Inter";
}
