.controlPanel {
  /* background-color: grey; */
  height: 60px;
  width: 100%;
  position: absolute;
  top: 72.125%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 76.3888888889%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons .play {
  height: 60px;
  width: 60px;
}

.buttons img {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.play:active {
  filter: brightness(90%);
}

.prev {
  margin-left: 15px;
}

.skip {
  margin-right: 15px;
}
