@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.informationDisplay{
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 129px;
  margin-left: auto;
  width: 100%;
  position: absolute;
}

.thumbnail{
  width: 275px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 12px;
}

.title{
  font-size: 20px;
  /* background-color: white; */
  width: 275px;
  margin: 0;
  font-family: 'Ubuntu';
}

.artist{
  font-size: 14px;
  width: 275px;
  margin: 0;
  font-family: 'Ubuntu';
}