.visualizer {
  height: 6%;
  width: 100%;
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 64.125%;
}

.barsHolder {
  width: 76.3888888889%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
